@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Roboto&display=swap');
:root {
	--gray-10: hsl(258, 7%, 10%);
	--gray-20: hsl(258, 7%, 20%);
	--gray-30: hsl(258, 7%, 30%);
	--gray-40: hsl(258, 7%, 40%);
	--gray-50: hsl(258, 7%, 50%);
	--gray-60: hsl(258, 7%, 60%);
	--gray-70: hsl(258, 7%, 70%);
	--gray-80: hsl(258, 7%, 80%);
	--gray-90: hsl(258, 7%, 90%);
	--orange: #ff5d01;
}

* {
	box-sizing: border-box;
}

html,body {
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
	min-width: 500px;
  padding: 1rem;
  line-height: 1.5;
	color: var(--gray-90);
	background-color: var(--gray-10);
	
}

canvas {
}

p {
	font-family: 'Georgia', 'serif';
}


* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
	color: var(--gray-80);
}

h1 {
  margin: 1rem 0;
  font-size: 4rem;
	color: var(--gray-80);
	font-weight: normal;
	font-family: 'Cormorant Garamond', serif;
	text-transform: capitalize;
}

a,a:visited, a:hover {
	color: var(--gray-90);
	text-decoration: none;
}

header {
	display: flex;
	flex-wrap: wrap-reverse;
	align-items: center;
	width: 100%;
	margin-bottom: 2rem;
}

header nav {
	flex-grow: 1;
}

header h2 {
	margin-top: 0px;
	font-family: 'Georgia', 'serif';
	text-align: center;
	color: var(--gray-80);
}

header h1 {
	margin-bottom: 6px;
	text-align: center;
	flex-grow: 1;
}

.nav-title {
	flex-grow: 1;
	justify-content: center;
	align-self: end;
}

.blog-content {
	max-width: 80ch;
}

.nav-links {
  width: auto;
	position: static;
	background: none;
  margin: 0;
	flex-grow: 1;
	align-self: start;
	text-align: right;
}

.nav-links a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
	margin-bottom: 5px;
	font-family: 'Roboto', sans-serif;
	color: var(--gray-70);
}

.nav-links a:hover, a:focus {
	text-decoration: none;
	color: var(--gray-90);
}

.expanded {
  display: unset;
}

.blog-posts {
	display: flex;
	flex-wrap: wrap;
	gap: 45px 5px;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;
}

.blog-post {
	text-decoration: none;
	max-width: 500px;
}

.blog-post img {
	max-width: 500px;
}

.blog-post h2 {
	margin: 3px 0px;
}

.blog-post p {
 margin: 0px;
 color: var(--gray-70);
} 

.tags {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-bottom: 2rem;
	justify-content: center;
}

.tag {
	margin: 0.25em;
	border: dotted 1px var(--gray-50);
	border-radius: .5em;
	padding: .5em 1em;
  font-family: 'Roboto', sans-serif;
	font-size: 1.15em;
	text-transform: uppercase;
	font-weight: bold;
	background-color: var(--gray-20);
}

footer {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
	justify-content: right;
	color: #dddddd;
	background-color: transparent;
}

footer a {
	text-decoration: underline;
}

.background-sphere {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	height: auto;
	z-index: -1;
}

@media screen and (min-width: 636px) {

}
