---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";
const subtitle = "What do you want to know?";

---
	<BaseLayout pageTitle={pageTitle} subtitle={subtitle}>
    <div class="about-page">
      <p>I am a <a href="https://www.linkedin.com/in/andrew-lowe-3473985/">software engineer</a>, <a href="https://m57.cc/">content creator</a>, and sometimes <a href="https://soundcloud.com/alowe">musician.</a></p>
      <p>I like long walks in post-apocalyptic cityscapes and vanilla ice cream.</p>
    </div>
</BaseLayout>
