---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home";
const subtitle = "My home on the web since 1999";
---
<BaseLayout pageTitle={pageTitle} subtitle={subtitle}>
  <div class="home-page">
    <p>Welcome to Lostways.<br />
    This is my corner of<br />
    the web.
    Check out some <a href="/projects">projects</a> I've worked on.</p>
  </div>
</BaseLayout>
