---
import Social from './Social.astro';
---
<style>
	footer {
		display: flex;
		gap: 1rem;
		margin-top: 2rem;
	}
</style>
<footer>
	<p>
		Follow my projects on
		<Social platform="github" username="lostways" />
		<Social platform="twitter" username="aloweprod" />
	</p>
</footer>
