---
import Social from './Social.astro';
---
<footer>
	<p>
		Follow my projects on
		<Social platform="github" username="lostways" />
		& <Social platform="twitter" username="aloweprod" />
	</p>
</footer>
