---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
const {pageTitle, subtitle} = Astro.props;
---
<header>
	<div class="nav-title">
		<h1>{pageTitle}</h1>
		<h2>{subtitle}</h2>
	</div>
	<Navigation />
</header>
